* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
}

p {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-image: linear-gradient(to top left, darkblue, white) ;
    padding: 10px 0px;
    border:  solid yellowgreen;
    align-items: center;
}

.header h1{
    font-size:  75px;
    color: darkblue;
    flex-wrap: nowrap;
    background-color: lightskyblue ;
    padding-left: 100px;
    padding-right: 20px;
    
}

.header nav {
    margin: 0px 10px;
    font-size: 20px;
    padding-right: 60px;
    border: solid tomato;

}

.nav-list li{
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline white;
    color: #ffffff;

}

.bg-img {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../images/") center/100%;
    border: solid red;
}

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    

}
main section {
    display:flex;
    flex-wrap:nowrap;
    border: dotted green ;
    width: 100% ;
    
}


.sr::after {
    content:"MERN Stack";
    display: block;
    color: red;
}

.lw::after {
    content:"MERN Stack";
    display: block;
    color: red;
}


.left {
    width: 25%;
    margin-right: 50px;
    border-right: thick solid #29627e;
    border: solid red;
    text-align: right;
    
}

h2{
    font-size: 70px;
    word-spacing: 100px;
    
}

.right{
    width: 75%;
    border: solid yellow;
    font-size: 40px;
   
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 30px;
    width: 100%;
    align-items: center;
    border: solid orange;
}


.apps{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px 0px;
   
}

.sr{
    height:350px;
    width: 100%;
    padding-top: 275px;
    border:solid pink;
}

.lw, .cal, .pp, .rb {
    width: 49.5%;
    height: 100px;
    padding-top: 55px;
    border: solid black;

}



@media (max-width: 992px) {
   main section, header  {
        flex-wrap: wrap;
        overflow: auto;
        text-align: center;
        
    }


    .apps p {
        width: 100%;
        height: 100px;
        padding: 0;
     }


    .left,
    .right {
        text-align: center;
        margin-right: 0;
        width:100%;
        padding-top: 0px;
        

    }

    .left{
        border-bottom: thick solid #29627e;
        border-right: none;
        margin: 0px 20px;
    }

    .header{
        justify-content: center;
        
    }

    .list li{
        text-align: center;
        width: 100%;
    }

    h2 {
        word-spacing: 0;
    }

    
    .header h1{
        width:  100%;
        color: darkblue;
        flex-wrap: nowrap;
        background-color: lightskyblue ;
        padding: 0;

    }

    .header nav {
        padding-left: 30px;
        margin: 30px;
        font-size: 40px;
        
    
    }


  }

 