:root{
    font-size: 16px;
    --dark-color:rgb(11, 11, 176); 
    --light-color:rgb(84, 141, 221); 

}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: white;
}

p {
    font-size: 1rem;
}

div {
    width: 48.5%;
    border: solid var(--light-color);
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 15px;
    
}

h2 {
    font-size: 5rem;
    word-spacing: 100rem;
    color: var(--dark-color);
}

span {
    font-size: 18px;
}

div p {
    border: solid var(--light-color);
    width: 200px;
    background-color: var(--light-color);
    font-size: 2rem;
    font-weight: bolder;
    width: fit-content;
} 

main section {
    display:flex;
    width: 100% ;
}



.header {
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-image: linear-gradient(to top left, darkblue, white) ;
    padding: 10px 0px;
    align-items: center;
}

.header h1{
    font-size: 4rem;
    color: var(--dark-color);
    background-color: var(--light-color) ;
    padding-left: 150px;
    padding-right: 20px;
    
}

.header nav {
    padding-right: 60px;
}

.nav-list li{
    display: inline-block;
    margin-left: 15px;
    text-decoration: underline var(--light-color);
    color: var(--light-color);
    font-size: 1.2rem;
}

.bg-img {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../images/bg-img.jpg") center/100%;
}

.bgi-sr{
    background: url("../images/sr.jpg") center/100%;
}

.bgi-lw{
    background: url("../images/led-wall.jpg") center/100%;
    background-color: yellow;
}

.bgi-cal{
    background: url("../images/calc.jpg") center/100%;
}

.bgi-pp{
    background: url("../images/past-puz.jpg") center/100%;
}

.bgi-rb{
    background: url("../images/runbud.jpg") center/100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 10px 40px;
}


.left {
    width: 25%;
    margin-right: 50px;
    border-right: thick solid var(--dark-color);
    text-align: right;
    padding-right: 15px;
}

.right{
    width: 75%;
    font-size: 40px;
}

.right.p{
    color: var(--dark-color);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    width: 100%;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: var(--dark-color);
    
}

.apps{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
    
}

/* .apps div */
.apps div:first-child{
    width: 100%;
    border:solid var(--light-color);
    font-size: 2rem;
    padding-top: 240px;
    padding-bottom: 30px;
}



@media (max-width: 992px) {

    div {
        width: 100%;
    }

    h2 {
        word-spacing: 0;
    }

    main section, header  {
        flex-wrap: wrap;
        overflow: auto;
        text-align: center;
    }

    
    .apps div:first-child{
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
   
    .left,
    .right,
    .list li {
        text-align: left;
        margin-right: 0;
        margin-top: 10px;
        width:100%;
        padding-top: 0px;
    }

    .right{
        margin: 0px 20px;
    }

    .left{
        border-bottom: thick solid #29627e;
        border-right: none;
        
    }

    .header{
        justify-content: center;
        
    }

    
    .header h1{
        width:  100%;
        color: darkblue;
        flex-wrap: nowrap;
        background-color: lightskyblue ;
        padding: 0;

    }

    .header nav li{
        padding-left: 30px;
        margin: 5px;
        font-size: 40px;
    }

  }

 